@import "~src/style/common";

.center {
  position: relative;
  //box-sizing: border-box;
  display: block;
  width: calc(100vw - #{$sideBarWidth + $propertyWidth});
  height: 100%;
  padding: 0px;
  //background: $editorBackgroundColor_level_main;
  //overflow: scroll;
  //border: 1px solid #dadadc;

  .layerMenu {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 200px;
  }

  .canvas {
    display: block;
    position: relative;
    //margin: 0 auto;
    //margin-top: 30px;
    background: #ffffff;
    color: $editorBackgroundColor_level_2;
    //width: calc(100% - 200px);
    width: calc(1440px + 16px);
    height: calc(960px + 16px);
    //min-height: 800px;
  }

}

