$editorBackgroundColor_level_main: #000;
$editorBackgroundColor_level_1: #1f1f1f;
$editorBackgroundColor_level_2: #141414;
$editorBackgroundColor_level_3: #30373f;
$editorBackgroundColor_level_4: #535f6b;
$editorBackgroundColor_level_5: #535f6b;
